.box1 {
    /* Space inside of the element */
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 40px;
}

.box2 {
    /* 1 value = all sides */
    /* 2 values = (top and bottom)(left and right) */
    /* 3 values = top (left and right) bottom */
    /* 4 values = top, right, bottom, left (clockwise) */
    padding: 10px 20px 30px 40px;
}

/* MARGIN */
.box3 {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-right: 40px;
}

.box4 {
    /* 1 value = all sides */
    /* 2 values = (top and bottom)(left and right) */
    /* 3 values = top (left and right) bottom */
    /* 4 values = top, right, bottom, left (clockwise) */
    margin: 10px 20px 30px 40px;
}

/* BORDER */
.mix-borders {
     /* 1 value = all sides */
    /* 2 values = (top and bottom)(left and right) */
    /* 3 values = top (left and right) bottom */
    /* 4 values = top, right, bottom, left (clockwise) */
    background-color: aquamarine;
    height: 100px;
    width: 200px;
    border-style: solid dashed dotted double;
    border-width: 4px 6px 8px 10px;
    border-color: tomato yellow blue green;

    /* SHORT HAND */
    border: 5px tomato dashed;

}

/* CIRCLE CONTAINER */

.circle-container {
    background-color: aqua;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;
    
}