.flexContainer {
    display: flex;
    /* justify-content: align items based on the main axis */
    justify-content:flex-end;
    justify-content:space-around;
    justify-content: space-evenly;
    justify-content:center;
    justify-content:space-between;
    justify-content: flex-start;

    /* align-items: align items on the cross axis; */
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: stretch;
    
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;
    flex-wrap: nowrap;
    
    column-gap: 20px;
    row-gap: 20px;
    gap: 20px;

    .flexItem1 {
        flex-grow: 0; /*Nor gorw (default)*/
        flex-grow: 1;
    }

    .flexItem2 {
        /* Willingness to shrink */
        flex-shrink: 1; /* This will shrink */
        flex-shrink: 0; /* Will not shrink */
    }    
}



